numpy==1.18.5
brotlipy==0.7.0
jikanpy==4.3.2
cryptography==2.9.2
keyring==21.2.1
Cython==0.29.21
lxml==4.5.2
brotli==1.0.9
ipaddr==2.2.0
ordereddict==1.1
protobuf==3.17.3
pyOpenSSL==20.0.1
pyTelegramBotAPI==3.8.1
wincertstore==0.2.1

pip~=21.1.3
setuptools~=57.2.0
requests~=2.26.0
